<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM页面</title>
    <link rel="stylesheet" href="/app01/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    {#    <link rel="stylesheet" href="/static/sweet/sweetalert2.min.css">#}
    <script src="/app01/static/jquery-3.2.1.min.js"></script>
    <script src="/app01/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/app01/static/jquery.cookie.js"></script>
    {#    <script src="/static/sweet/sweetalert2.min.js"></script>#}
    <style type="text/css">
        .my-navbar a {
            background: transparent !important;
            color: #fff !important
        }

        .my-navbar a:hover {
            color: #45bcf9 !important;
            background: transparent;
            outline: 0
        }

        .avatar {
            position: relative;
            width: 80px;
            height: 80px;
        }

        #avatar_img, #avatar_file {
            position: absolute;
            top: -20px;
            left: 220px;
            width: 80px;
            height: 80px;
        }

        #avatar_file {
            opacity: 0;
        }

        .content {
            margin-top: 100px;
        }

        .hides {
            display: none;
        }

    </style>
</head>
<body style="background-color:white">
<nav class="navbar navbar-inverse navbar-fixed-top my-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: 30px">C&nbsp;R&nbsp;M&nbsp;系&nbsp;统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/index/"><span class="glyphicon glyphicon-home " style="font-size: 15px"></span>&nbsp;首&nbsp;页</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href=""><span class="glyphicon glyphicon-user"
                                         style="font-size: 15px"></span>{{ request.user.username }}</a>
                    </li>
                    <li>
                        <a href="/logout/">&nbsp;注&nbsp;销</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/login/"><span class="glyphicon glyphicon-user" style="font-size: 15px"></span>&nbsp;登&nbsp;录</a>
                    </li>
                    <li>
                        <a href="/register/"><span class="glyphicon glyphicon-user" style="font-size: 15px">
                            <span class=" glyphico glyphicon-plus-sign" style="font-size: 2px;"></span></span>&nbsp;注&nbsp;册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container content">
    <div class="row">
        {#    左边内容#}
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">后台管理</div>
                <div class="panel-body">
                    <div class="panel panel-info ">
                        <div class="panel-heading">校区管理</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading">客户管理</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading">校区管理</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading">员工管理</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#        右边内容#}
        <div class="right col-md-9">
            {% block con %}
                <a href="/questionsadd/">
                    <button class="btn btn-primary">添加</button>
                </a>
                <hr>
                <table class="table table-bordered">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>调查问卷名称</th>
                        <th>调查问卷班级</th>
                        <th>参与人数</th>
                        <th>问卷选项</th>
                        <th>调查地址</th>
                        <th>查看评分</th>
                        <th>操作</th>
                    </tr>
                    {% for foo in questionnaire %}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>{{ foo.title }}</td>
                            <td>{{ foo.cls }}</td>
                            <td>{{ foo.cls.student_set.count }}</td>
                            <td><a href="/questionnaire/{{ foo.id }}">编辑问卷</a></td>
                            <td>
                                <a href="/student/talk/{{ foo.id }}/{{ foo.cls.id }}/">
                                    /student/talk/{{ foo.id }}/{{ foo.cls.id }}
                                </a>
                            </td>
                            <td><a href="">查看评分</a></td>
                            <td><a href="">删除</a></td>
                        </tr>
                    {% endfor %}

                </table>
            {% endblock %}
        </div>

    </div>
</div>


<script>
    $(".cate_title").mouseover(function () {
        $(this).next().slideDown(300)
    }).parent().mouseleave(function () {
        $(this).children(".panel-footer").slideUp(300)
    })

</script>

<script src="/app01/static/js/edit_ques.js"></script>
</body>
</html>